

.about{
    strong,
    span {
  font-weight: bold;
  display: inline-block;
  padding-bottom: 8px;

}
}

.aboutThumb,
.skillThumb {
  padding: 22px 32px 32px 32px;
}

.progress {
  background: #ffffff;
  border-radius: 0px;
  box-shadow: none;
  height: 2px;
}

.projectThumb{
  background: $yellow;
}


