.customNavbar {
	margin-bottom: 0;
	background-color: $blue !important;


	@media ($md) {
		padding: 12px 0;
		border-bottom: 0;
		background: 0 0;
	}
}

.customNavbarScrolled {

	@media ($md) {
	  background-color: $blue;

	}
}

.customNavbarScrolled .standardLink {

	@media ($md) {
	  a{
		color: $yellow;
	  }


	}
}



.container {
	width: 100vw;
	position: relative;

	@media ($md) {
		align-items: center;
		gap: 5px;
		display: flex;
	}

	@media ($lg) {
		width: 90vw;
	}
}

.customBrand {
	color: $yellow;
	left: 5%;
	text-shadow: 2px 2px #333;
	font-weight: 900;
	font-size: clamp(1.5rem, 3.5vw, 1.8rem);
	line-height: 35px;
	letter-spacing: 3px;
	z-index: 10;
}

.customBrandSmall {
	color: $yellow;
	text-shadow: 2px 2px #fff;
	font-size: 1.5rem;
}

.menu {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	position: fixed;
    visibility: hidden;
	z-index: -9999;


	@media ($md) {
		display: inline-flex;
		flex-direction: row;
		height: fit-content;
		align-items: center;
		position: relative;
		min-width: 600px;
		z-index: 9999;
		visibility: visible;
	}
}

.standardLink {
	opacity: 0;
	transition: all 0.3s cubic-bezier(0, 0.995, 0.99, 1) 0.3s;
	a {
		color: white;
		display: block;
		text-align: center;
		letter-spacing: 5px;
		font-weight: 900;
		font-size: 1.25rem;
		text-decoration: none;
		padding: 1rem;

		@media ($md) {
			color: $yellow;
			font-size: clamp(0.7rem, 1.6vw, 1rem);
			padding: 0.5rem;
			letter-spacing: 2px;
		}

		&:hover,
		&:focus {
			outline: 0;
			color: $orange;
		}
	}
	@media ($md) {
		opacity: 1;
	}
}

.activeLink {
	a {
		background-color: transparent;
		color: $orange !important;
	}
}

.navbarToggle {
	color: $yellow;
	padding: 0;
	border: 0;
	background: transparent;
	outline: 0;
	right: 15px;
	top: 7px;
	cursor: pointer;
	border-radius: 50%;
	transition: background-color 0.15s linear;

	&:hover,
	&:focus {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

.menuIcon {
	display: block;
	cursor: pointer;
	color: $yellow;
	transform: rotate(0deg);
	transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);

	&Bar,
	&Circle {
		fill: none;
		stroke: currentColor;
		stroke-width: 3;
		stroke-linecap: round;
	}
	&Bar {
		transform: rotate(0deg);
		transform-origin: 50% 50%;
		transition: transform 0.25s ease-in-out;
	}
	&Circle {
		transition: all 0.3s linear 0.1s;
		stroke-dashoffset: circumference(30);
		stroke-dasharray: circumference(30);
		color: transparent;
	}
}

.splash {
	position: fixed;
	z-index: -10 !important;
	top: 40px;
	right: 40px;
	width: 1px;
	height: 1px;

	&::after {
		content: '';
		display: block;
		position: absolute;
		border-radius: 50%;
		background-color: #000;
		width: 284vmax;
		height: 284vmax;
		top: -142vmax;
		left: -142vmax;
		transform: scale(0);
		transform-origin: 50% 50%;
		transition: transform 0.5s cubic-bezier(0.755, 0.05, 0.855, 0.06);
		will-change: transform;
	}
}

.customNavbar:target,
.customNavbarOpen {
	.splash::after {
		transform: scale(1);
		z-index: 10;
	}


	.menuIcon {
		color: $yellow;
		transform: rotate(180deg);
		z-index: 0;

		&Circle {
			stroke-dashoffset: 0;
			color: $yellow;
		}
		&Bar:nth-child(1),
		&Bar:nth-child(4) {
			opacity: 0;
		}
		&Bar:nth-child(2) {
			transform: rotate(45deg);
		}
		&Bar:nth-child(3) {
			transform: rotate(-45deg);
		}
	}
	
	.menu {
		display: inline-flex;
		position: absolute;
		visibility: visible;
		z-index: 9999;
		
	}

	.standardLink {
		opacity: 1;
		transform: translateY(0);
	}



	
}

