.home h1 {
  padding-top: 5px;
	padding-bottom: 18px;
  font-size: clamp(32px, 3.5vw, 60px);
}

.heroImg {
	height: 360px;
	filter: grayscale(100%);

	@media ($sm) {
		height: 500px;
	}

	@media ($md) {
		height: 100vh;
	}
}

.tagline {
	background: $yellow;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: fit-content;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 0 45px 0 45px;

	@media ($md) {
		height: 100vh;
		width: unset;
	}
}
