.home h1 {
  padding-bottom: 18px;
 } 

.heroImg{
  height: 360px;
  filter: grayscale(100%);

  @media($sm){
    height: 500px
  }

  @media($md){
    height: 100vh;
  }
}



.tagline{
    background: #f1e2d7;
    display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 500px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 45px 0 45px;

  @media($md){
    height: 100vh;
    width: unset;
  }
}
