.about {
	strong {
		font-weight: 900;
		display: inline-block;
		font-size: 1rem;

		@media ($md) {
			font-size: 1.23rem;
		}
	}
}

.title {
	font-size: 2rem;
}

.aboutThumb,
.skillThumb {
	padding: 22px 32px 32px 32px;
	gap: 20px;
}

.project {
	width: 98%;

	@media ($md) {
		width: 48%;
	}
}

.projectImage {
	min-width: 250px;
	min-height: 200px;
	max-width: 350px;
	width: 80vw;

	@media ($sm) {
		left: 0;
	}

	@media ($md) {
		width: 20vw;
	}
}

.projectInfo {
	@media ($xl) {
		width: 48%;
	}

	p {
		color: #b0b0b0;
	}
}

.link {
	color: $yellow;
	font-weight: 900;

	&:hover {
		color: #f1e2d7;
	}
	span {
		font-weight: inherit;
		font-size: 1.6rem;
		color: inherit;
	}
}
